In [4]:
import numpy as np
import pandas as pd

In [7]:
data=pd.read_csv(r"C:\Users\jithi\Desktop\Vinu DSA\Sales_add.csv")
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [ ]:
# 1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [ ]:
#h0 = there is no increase in sale
#h1 = there is  increase in sale

In [24]:
from scipy.stats import ttest_ind
salebefore_d=data['Sales_before_digital_add(in $)']
saleafter_d=data['Sales_After_digital_add(in $)']

In [17]:
ttest_ind(salebefore_d,saleafter_d)

Ttest_indResult(statistic=-12.995084451110877, pvalue=2.614368006904645e-16)

In [15]:
#p value is smaller than 0.05.h0 is false and h1 is true. Which meanse  there is increase in sale after stepping into digital marketing.

In [ ]:
#The company needs to check whether there is any dependency between the features “Region” and “Manager”
#ho Region and Manager are not dependent
#h1 region and Manager are  dependent

In [20]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2
data_table=pd.crosstab(data['Region'],data['Manager'])
print(data_table)

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [21]:
from scipy.stats import chi2_contingency

In [25]:
chival, pval, df, exp = chi2_contingency(data_table)
chival, pval, df, exp

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [23]:
exp.min()

1.3636363636363635

In [ ]:
# p value greater than .05 so we  reject h1. Here manager and region are not dependent